# Compiled output
dist/
out-tsc/
build/

# Temporary files
tmp/
temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Compiled TypeScript files
*.js
*.js.map
*.d.ts

# Angular CLI specific files
.angular/
.angular-cli.json
.angular.json

# IDE files
.vscode/
.idea/

# Environment variables
src/environments/environment.prod.ts
src/environments/environment.ts

# Miscellaneous
.DS_Store
Thumbs.db

# Windows-specific files
*.log

# Mac-specific files
.DS_Store
